.elementor-kit-19 {
    --e-global-color-primary: #0070B7;
    --e-global-color-secondary: #20283d;
    --e-global-color-text: #2d3448;
    --e-global-color-accent: #FECC27;
    --e-global-color-dea41e4: #D86D4E;
    --e-global-color-308e809: #F5F5F5;
    --e-global-color-a291686: #FFFFFF;
    --e-global-color-9eaa092: #E5E5E5;
    --e-global-color-a954db2: #02010100;
    --e-global-color-c124ea5: #e30713;
    --e-global-color-651faef: #BDBDBD;
    --e-global-color-d11568e: #4DBAE6;
    --e-global-color-190e635: #000000;
    --e-global-typography-primary-font-family: "Sora";
    --e-global-typography-primary-font-size: 51px;
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-primary-text-transform: capitalize;
    --e-global-typography-primary-line-height: 1.1em;
    --e-global-typography-primary-letter-spacing: -2px;
    --e-global-typography-secondary-font-family: "Sora";
    --e-global-typography-secondary-font-size: 40px;
    --e-global-typography-secondary-font-weight: 600;
    --e-global-typography-secondary-line-height: 1.1em;
    --e-global-typography-text-font-family: "Sora";
    --e-global-typography-text-font-size: 15px;
    --e-global-typography-text-font-weight: 600;
    --e-global-typography-text-text-transform: capitalize;
    --e-global-typography-text-line-height: 1em;
    --e-global-typography-accent-font-family: "Sora";
    --e-global-typography-accent-font-size: 20px;
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-accent-line-height: 1.5em;
    --e-global-typography-b2ce6af-font-family: "Sora";
    --e-global-typography-b2ce6af-font-size: 16px;
    --e-global-typography-b2ce6af-line-height: 1.5em;
    --e-global-typography-69c152f-font-family: "Sora";
    --e-global-typography-69c152f-font-size: 14px;
    --e-global-typography-69c152f-line-height: 1.6em;
    --e-global-typography-520c191-font-family: "Sora";
    --e-global-typography-520c191-font-size: 13px;
    --e-global-typography-520c191-font-weight: 500;
    --e-global-typography-520c191-text-transform: uppercase;
    --e-global-typography-520c191-line-height: 1.5em;
    --e-global-typography-520c191-letter-spacing: 0px;
    --e-global-typography-583e54c-font-family: "Sora";
    --e-global-typography-583e54c-font-size: 51px;
    --e-global-typography-583e54c-font-weight: 600;
    --e-global-typography-583e54c-text-transform: capitalize;
    --e-global-typography-583e54c-line-height: 1.1em;
    --e-global-typography-583e54c-letter-spacing: -2px;
    --e-global-typography-5d167aa-font-family: "Sora";
    --e-global-typography-5d167aa-font-size: 40px;
    --e-global-typography-5d167aa-font-weight: 600;
    --e-global-typography-5d167aa-line-height: 1.1em;
    --e-global-typography-d3dae9a-font-family: "Sora";
    --e-global-typography-d3dae9a-font-size: 31px;
    --e-global-typography-d3dae9a-font-weight: 600;
    --e-global-typography-d3dae9a-line-height: 1.2em;
    --e-global-typography-83682a1-font-family: "Sora";
    --e-global-typography-83682a1-font-size: 25px;
    --e-global-typography-83682a1-font-weight: 600;
    --e-global-typography-83682a1-line-height: 1.2em;
    --e-global-typography-7044a64-font-family: "Sora";
    --e-global-typography-7044a64-font-size: 20px;
    --e-global-typography-7044a64-font-weight: 600;
    --e-global-typography-7044a64-line-height: 1.2em;
    --e-global-typography-84ca66e-font-family: "Sora";
    --e-global-typography-84ca66e-font-size: 15px;
    --e-global-typography-84ca66e-font-weight: 700;
    --e-global-typography-84ca66e-text-transform: uppercase;
    --e-global-typography-84ca66e-line-height: 1.2em;
    --e-global-typography-84ca66e-letter-spacing: 2px;
    --e-global-typography-112b6c4-font-family: "Sora";
    --e-global-typography-112b6c4-font-size: 13px;
    --e-global-typography-112b6c4-font-weight: 400;
    --e-global-typography-3715edf-font-family: "Sora";
    --e-global-typography-3715edf-font-size: 64px;
    --e-global-typography-3715edf-font-weight: 600;
    --e-global-typography-3715edf-text-transform: capitalize;
    --e-global-typography-3715edf-line-height: 1em;
    --e-global-typography-3715edf-letter-spacing: -2px;
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    --e-page-transition-entrance-animation: e-page-transition-fade-out;
    --e-page-transition-animation-duration: 1500ms;
    --e-preloader-animation-duration: 1500ms;
    --e-preloader-delay: 0ms;
    --e-preloader-color: var(--e-global-color-d11568e);
    --e-preloader-size: 40px;
}

.elementor-kit-19 a {
    color: var(--e-global-color-secondary);
}

.elementor-kit-19 a:hover {
    color: var(--e-global-color-accent);
}

.elementor-kit-19 h1 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-583e54c-font-family), Sans-serif;
    font-size: var(--e-global-typography-583e54c-font-size);
    font-weight: var(--e-global-typography-583e54c-font-weight);
    text-transform: var(--e-global-typography-583e54c-text-transform);
    line-height: var(--e-global-typography-583e54c-line-height);
    letter-spacing: var(--e-global-typography-583e54c-letter-spacing);
    word-spacing: var(--e-global-typography-583e54c-word-spacing);
}

.elementor-kit-19 h2 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-5d167aa-font-family), Sans-serif;
    font-size: var(--e-global-typography-5d167aa-font-size);
    font-weight: var(--e-global-typography-5d167aa-font-weight);
    line-height: var(--e-global-typography-5d167aa-line-height);
    letter-spacing: var(--e-global-typography-5d167aa-letter-spacing);
    word-spacing: var(--e-global-typography-5d167aa-word-spacing);
}

.elementor-kit-19 h3 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-d3dae9a-font-family), Sans-serif;
    font-size: var(--e-global-typography-d3dae9a-font-size);
    font-weight: var(--e-global-typography-d3dae9a-font-weight);
    line-height: var(--e-global-typography-d3dae9a-line-height);
    letter-spacing: var(--e-global-typography-d3dae9a-letter-spacing);
    word-spacing: var(--e-global-typography-d3dae9a-word-spacing);
}

.elementor-kit-19 h4 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
    font-size: var(--e-global-typography-83682a1-font-size);
    font-weight: var(--e-global-typography-83682a1-font-weight);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
}

.elementor-kit-19 h5 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-kit-19 h6 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-84ca66e-font-family), Sans-serif;
    font-size: var(--e-global-typography-84ca66e-font-size);
    font-weight: var(--e-global-typography-84ca66e-font-weight);
    text-transform: var(--e-global-typography-84ca66e-text-transform);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
}

.elementor-kit-19 button,
.elementor-kit-19 input[type="button"],
.elementor-kit-19 input[type="submit"],
.elementor-kit-19 .elementor-button {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    text-transform: var(--e-global-typography-text-text-transform);
    line-height: var(--e-global-typography-text-line-height);
    color: #ffffffc2;
    background-color: #4367b7;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #4367b7;
    border-radius: 3px 3px 3px 3px;
}

.elementor-kit-19 button:hover,
.elementor-kit-19 button:focus,
.elementor-kit-19 input[type="button"]:hover,
.elementor-kit-19 input[type="button"]:focus,
.elementor-kit-19 input[type="submit"]:hover,
.elementor-kit-19 input[type="submit"]:focus,
.elementor-kit-19 .elementor-button:hover,
.elementor-kit-19 .elementor-button:focus {
    color: var(--e-global-color-c124ea5);
    background-color: #071534;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #071534;
}

.elementor-kit-19 label {
    color: #787882;
    font-family: "Sora", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.4em;
}

.elementor-kit-19 input:not([type="button"]):not([type="submit"]),
.elementor-kit-19 textarea,
.elementor-kit-19 .elementor-field-textual {
    font-family: "Sora", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #000;
    background-color: var(--e-global-color-a291686);
    border-style: solid;
    border-width: 2px;
    border-color: #787882;
    border-radius: 3px 3px 3px 3px;
}

.elementor-kit-19 input:focus:not([type="button"]):not([type="submit"]),
.elementor-kit-19 textarea:focus,
.elementor-kit-19 .elementor-field-textual:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-a291686);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-651faef);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1180px;
    /* justify-content: center;
    text-align: center; */
}

.e-con {
    --container-max-width: 1280px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.elementor-kit-19 e-page-transition {
    background-color: var(--e-global-color-a291686);
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

@media(max-width:1024px) {
    .elementor-kit-19 {
        --e-global-typography-primary-font-size: 42px;
        --e-global-typography-secondary-font-size: 34px;
        --e-global-typography-text-font-size: 14px;
        --e-global-typography-accent-font-size: 18px;
        --e-global-typography-b2ce6af-font-size: 15px;
        --e-global-typography-69c152f-font-size: 13px;
        --e-global-typography-520c191-font-size: 12px;
        --e-global-typography-583e54c-font-size: 42px;
        --e-global-typography-5d167aa-font-size: 34px;
        --e-global-typography-d3dae9a-font-size: 27px;
        --e-global-typography-83682a1-font-size: 22px;
        --e-global-typography-7044a64-font-size: 18px;
        --e-global-typography-84ca66e-font-size: 13.5px;
        --e-global-typography-112b6c4-font-size: 12px;
        --e-global-typography-3715edf-font-size: 51px;
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }
    .elementor-kit-19 h1 {
        font-size: var(--e-global-typography-583e54c-font-size);
        line-height: var(--e-global-typography-583e54c-line-height);
        letter-spacing: var(--e-global-typography-583e54c-letter-spacing);
        word-spacing: var(--e-global-typography-583e54c-word-spacing);
    }
    .elementor-kit-19 h2 {
        font-size: var(--e-global-typography-5d167aa-font-size);
        line-height: var(--e-global-typography-5d167aa-line-height);
        letter-spacing: var(--e-global-typography-5d167aa-letter-spacing);
        word-spacing: var(--e-global-typography-5d167aa-word-spacing);
    }
    .elementor-kit-19 h3 {
        font-size: var(--e-global-typography-d3dae9a-font-size);
        line-height: var(--e-global-typography-d3dae9a-line-height);
        letter-spacing: var(--e-global-typography-d3dae9a-letter-spacing);
        word-spacing: var(--e-global-typography-d3dae9a-word-spacing);
    }
    .elementor-kit-19 h4 {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }
    .elementor-kit-19 h5 {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }
    .elementor-kit-19 h6 {
        font-size: var(--e-global-typography-84ca66e-font-size);
        line-height: var(--e-global-typography-84ca66e-line-height);
        letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
        word-spacing: var(--e-global-typography-84ca66e-word-spacing);
    }
    .elementor-kit-19 button,
    .elementor-kit-19 input[type="button"],
    .elementor-kit-19 input[type="submit"],
    .elementor-kit-19 .elementor-button {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-kit-19 label {
        font-size: 15px;
    }
    .elementor-kit-19 input:not([type="button"]):not([type="submit"]),
    .elementor-kit-19 textarea,
    .elementor-kit-19 .elementor-field-textual {
        font-size: 15px;
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-19 {
        --e-global-typography-primary-font-size: 33px;
        --e-global-typography-secondary-font-size: 28px;
        --e-global-typography-text-font-size: 13px;
        --e-global-typography-accent-font-size: 16px;
        --e-global-typography-b2ce6af-font-size: 14px;
        --e-global-typography-69c152f-font-size: 12px;
        --e-global-typography-520c191-font-size: 11px;
        --e-global-typography-583e54c-font-size: 33px;
        --e-global-typography-5d167aa-font-size: 28px;
        --e-global-typography-d3dae9a-font-size: 22.5px;
        --e-global-typography-83682a1-font-size: 19px;
        --e-global-typography-7044a64-font-size: 16px;
        --e-global-typography-84ca66e-font-size: 12px;
        --e-global-typography-112b6c4-font-size: 11px;
        --e-global-typography-3715edf-font-size: 40px;
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }
    .elementor-kit-19 h1 {
        font-size: var(--e-global-typography-583e54c-font-size);
        line-height: var(--e-global-typography-583e54c-line-height);
        letter-spacing: var(--e-global-typography-583e54c-letter-spacing);
        word-spacing: var(--e-global-typography-583e54c-word-spacing);
    }
    .elementor-kit-19 h2 {
        font-size: var(--e-global-typography-5d167aa-font-size);
        line-height: var(--e-global-typography-5d167aa-line-height);
        letter-spacing: var(--e-global-typography-5d167aa-letter-spacing);
        word-spacing: var(--e-global-typography-5d167aa-word-spacing);
    }
    .elementor-kit-19 h3 {
        font-size: var(--e-global-typography-d3dae9a-font-size);
        line-height: var(--e-global-typography-d3dae9a-line-height);
        letter-spacing: var(--e-global-typography-d3dae9a-letter-spacing);
        word-spacing: var(--e-global-typography-d3dae9a-word-spacing);
    }
    .elementor-kit-19 h4 {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }
    .elementor-kit-19 h5 {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }
    .elementor-kit-19 h6 {
        font-size: var(--e-global-typography-84ca66e-font-size);
        line-height: var(--e-global-typography-84ca66e-line-height);
        letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
        word-spacing: var(--e-global-typography-84ca66e-word-spacing);
    }
    .elementor-kit-19 button,
    .elementor-kit-19 input[type="button"],
    .elementor-kit-19 input[type="submit"],
    .elementor-kit-19 .elementor-button {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-kit-19 label {
        font-size: 14px;
    }
    .elementor-kit-19 input:not([type="button"]):not([type="submit"]),
    .elementor-kit-19 textarea,
    .elementor-kit-19 .elementor-field-textual {
        font-size: 14px;
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}


/* .horizontal-timeline .items {
    border-top: 3px solid #2b417a;
  }
  
  .horizontal-timeline .items .items-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
  }
  
  .horizontal-timeline .items .items-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #ca0926;
    top: 0;
  }
  
  .horizontal-timeline .items .items-list .event-date {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    font-size: 30px;
    padding-top: 20px;
    border-radius: 50%;
  }
  
  @media (min-width: 1140px) {
    .horizontal-timeline .items .items-list {
      display: inline-block;
      width: 24%;
      padding-top: 45px;
    }
  
    .horizontal-timeline .items .items-list .event-date {
      top: -36px;
    }
  } */

.elementor-element-f503020 {
    padding: 20px 0px;
    background: aliceblue;
    margin-top: 100px;
}

#pills-tab {
    width: 100%;
    justify-content: space-between;
}

#pills-tab .nav-item {
    margin: 0px 10px;
}

#pills-tabContent {
    background: #4366b7;
    border-radius: 40px;
}


/* New Timeline css  */

.timeline-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    height: 544px;
}

.timeline-wrapper .middle-line {
    position: absolute;
    width: 90%;
    height: 5px;
    top: 59%;
    transform: translateY(-50%);
    background: #2a407a;
}

.box {
    width: 25%;
    position: relative;
    min-height: 300px;
    float: left;
    top: 42px;
}

.box .date {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background: #c80826;
    border: 2px solid #c80826;
}

.date p {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0px;
}

.box-content h4 {
    font-size: 19px;
    color: #fff;
}

.box .box-content {
    border-radius: 5px;
    /* background-color: #00b0bd; */
    width: 347px;
    position: absolute;
    left: -55px;
    text-align: center;
    padding: 15px;
}

.box-content p {
    margin: 0;
    color: #e4e3e3;
}

.box-bottom .box-content {
    top: 73%;
}

.box-content::before {
    content: " ";
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
    border: 10px solid transparent;
}

.box-bottom .box-content::before {
    /* border-bottom-color: #00b0bd; */
    top: -42px;
    border-style: dashed;
    height: 53px;
    border-right: 3px dashed #ca0926;
}

.box-top .box-content::before {
    /* border-top: #00b0bd; */
    /* bottom: -20px; */
    border-style: dashed;
    height: 53px;
    border-right: 3px dashed #ca0926;
    top: 114px;
}

.box-top .box-content {
    top: -44px;
}

p {
    font-family: 'Trebuchet MS', sans-serif;
}


/* New css */

#roadmap {
    background-image: url(../../../../../images/Home/07/Section07BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3em 3em 2em 3em;
}

.box .date h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.elementor-element-0756131-1 .elementor-widget-container {
    color: #b8bcc8;
    border-bottom: 1.5px solid #e4000d;
}


/* Banner css  */

#diwali-contest {
    position: absolute;
    top: 5%;
    left: 9%;
    width: 40%;
    /* padding-left: 3%; */
    color: aliceblue;
}

#diwali-contest button {
    background-color: #ffc61d;
    text-transform: uppercase;
    font-weight: 500;
    padding: 14px 25px;
    color: #000;
}

#diwali-contest .card {
    background: linear-gradient(224deg, #002e2c, #000e0e96);
    color: #fff;
    padding: 30px 22px 30px 35px;
    border-radius: 20px;
}

#contest {
    margin: 35px 0px 45px;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    #diwali-contest h1 {
        font-size: 35px;
    }
    #diwali-contest h2 {
        font-size: 24px;
        margin: -14px 0px 0px;
    }
    #contest {
        margin: 15px 0px 15px;
    }
    #contest h5 {
        margin: 0px;
    }
    #diwali-contest {
        width: 43%;
        top: 3%;
    }
}

@media only screen and (max-width: 600px) {
    #diwali-contest {
        width: 43%;
        top: 3%;
    }
    #diwali-contest h1 {
        font-size: 20px;
        margin: 5px 0px;
    }
    #diwali-contest h2 {
        font-size: 15px;
        margin-bottom: 20px;
    }
    #contest-text {
        display: none;
    }
    #contest {
        margin: -25px 0px 10px;
    }
    #contest h5 {
        font-size: 13px;
        margin: 2px 0px;
    }
    #diwali-contest button {
        display: block;
        padding: 10px 12px;
    }
}

@media only screen and (min-width: 1600px) {
    .box .box-content {
        left: -22px;
    }
}