.elementor-244 .elementor-element.elementor-element-4363890:not(.elementor-motion-effects-element-type-background),
.elementor-244 .elementor-element.elementor-element-4363890>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    /* background-color: var(--e-global-color-primary); */
    background-image: url("../../../../../images/Footer/Footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.elementor-244 .elementor-element.elementor-element-4363890>.elementor-background-overlay {
    background-color: transparent;
    background-image: radial-gradient(at bottom left, #000000D1 20%, var(--e-global-color-190e635) 100%);
    opacity: 0.95;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-244 .elementor-element.elementor-element-4363890 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0em 0em 0em 0em;
}

.elementor-244 .elementor-element.elementor-element-b39af11 img {
    width: 100%;
    height: 44px;
    object-fit: contain;
}

.elementor-244 .elementor-element.elementor-element-b39af11>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-244 .elementor-element.elementor-element-b39af11 {
    width: auto;
    max-width: auto;
}

.elementor-244 .elementor-element.elementor-element-8506ca9 {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    border-bottom: 1px solid #3c5595;
    padding-bottom: 18px;
}

.elementor-244 .elementor-element.elementor-element-8506ca9>.elementor-widget-container {
    margin: 0em 0em -1em 0em;
}

.elementor-244 .elementor-element.elementor-element-35cf9c6 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    text-transform: var(--e-global-typography-text-text-transform);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-244 .elementor-element.elementor-element-35cf9c6>.elementor-widget-container {
    padding: 0px 15px 0px 0px;
}

.elementor-244 .elementor-element.elementor-element-35cf9c6 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-244 .elementor-element.elementor-element-75a13a8 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 12px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-244 .elementor-element.elementor-element-75a13a8 .elementor-widget-container {
    text-align: left;
}

.elementor-244 .elementor-element.elementor-element-75a13a8 .elementor-social-icon {
    background-color: var(--e-global-color-a954db2);
    --icon-padding: 1em;
}

.elementor-244 .elementor-element.elementor-element-75a13a8 .elementor-social-icon i {
    color: var(--e-global-color-651faef);
}

.elementor-244 .elementor-element.elementor-element-75a13a8 .elementor-social-icon svg {
    fill: var(--e-global-color-651faef);
}

.elementor-244 .elementor-element.elementor-element-75a13a8 .elementor-social-icon:hover {
    background-color: var(--e-global-color-accent);
}

.elementor-244 .elementor-element.elementor-element-75a13a8 .elementor-social-icon:hover i {
    color: var(--e-global-color-secondary);
}

.elementor-244 .elementor-element.elementor-element-75a13a8 .elementor-social-icon:hover svg {
    fill: var(--e-global-color-secondary);
}

.elementor-244 .elementor-element.elementor-element-e29f2f5 {
    --spacer-size: 5px;
}

.elementor-244 .elementor-element.elementor-element-ef60f2e img {
    width: 100%;
    height: 40px;
    object-fit: contain;
    border-radius: 3px 3px 3px 3px;
}

.elementor-244 .elementor-element.elementor-element-ef60f2e>.elementor-widget-container {
    padding: 0px 10px 0px 0px;
}

.elementor-244 .elementor-element.elementor-element-ef60f2e {
    width: auto;
    max-width: auto;
}

.elementor-244 .elementor-element.elementor-element-a5eef57 img {
    width: 100%;
    height: 40px;
    object-fit: contain;
    border-radius: 3px 3px 3px 3px;
}

.elementor-244 .elementor-element.elementor-element-a5eef57>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-244 .elementor-element.elementor-element-a5eef57 {
    width: auto;
    max-width: auto;
}

.elementor-244 .elementor-element.elementor-element-aaa948b>.elementor-element-populated {
    margin: 0em 0em 0em 0em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 3em;
}

.elementor-244 .elementor-element.elementor-element-40d4c93 {
    margin-top: 0em;
    margin-bottom: 3em;
}

.elementor-244 .elementor-element.elementor-element-e24d1c3 .elementor-heading-title {
    color: var(--e-global-color-a291686);
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1.5px solid #e4000d;
    padding-bottom: 18px;
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(30px/2);
}

.elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-244 .elementor-element.elementor-element-4335222 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
}

.elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-text {
    color: #b8bcc8;
    transition: color 0.3s;
}

.elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #6e96f8;
}

.elementor-244 .elementor-element.elementor-element-a173c88 .elementor-heading-title {
    color: var(--e-global-color-a291686);
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1.5px solid #e4000d;
    padding-bottom: 18px;
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(30px/2);
}

.elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-244 .elementor-element.elementor-element-4b2a749 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
}

.elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-text {
    color: #b8bcc8;
    transition: color 0.3s;
}

.elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #6e96f8;
}

.elementor-244 .elementor-element.elementor-element-f3aa99f .elementor-heading-title {
    color: var(--e-global-color-a291686);
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1.5px solid #e4000d;
    padding-bottom: 18px;
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(30px/2);
}

.elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-244 .elementor-element.elementor-element-1e9d8f4 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
}

.elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-text {
    color: #b8bcc8;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #6e96f8;
}

.elementor-244 .elementor-element.elementor-element-1cca3cb {
    margin-top: 0em;
    margin-bottom: 0.8em;
    border-bottom: 1.5px solid #e4000d;
    padding-bottom: 18px;
}

.elementor-244 .elementor-element.elementor-element-8f608fd {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-text);
    --divider-border-width: 1px;
}

.elementor-244 .elementor-element.elementor-element-8f608fd .elementor-divider-separator {
    width: 100%;
}

.elementor-244 .elementor-element.elementor-element-8f608fd .elementor-divider {
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-244 .elementor-element.elementor-element-8f608fd .elementor-divider__text {
    color: var(--e-global-color-651faef);
    font-family: "Sora", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1em;
}

.elementor-244 .elementor-element.elementor-element-cdc5e64 {
    font-family: var(--e-global-typography-69c152f-font-family), Sans-serif;
    font-size: var(--e-global-typography-69c152f-font-size);
    line-height: var(--e-global-typography-69c152f-line-height);
    letter-spacing: var(--e-global-typography-69c152f-letter-spacing);
    word-spacing: var(--e-global-typography-69c152f-word-spacing);
}

.elementor-244 .elementor-element.elementor-element-0756131 .elementor-heading-title {
    color: #ffffff80;
    text-align: end;
    font-family: var(--e-global-typography-112b6c4-font-family), Sans-serif;
    font-size: var(--e-global-typography-112b6c4-font-size);
    font-weight: var(--e-global-typography-112b6c4-font-weight);
    line-height: var(--e-global-typography-112b6c4-line-height);
    letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
    word-spacing: var(--e-global-typography-112b6c4-word-spacing);
}

@media(max-width:1024px) {
    .elementor-244 .elementor-element.elementor-element-4363890 {
        padding: 3em 1.5em 2em 1.5em;
    }

    .elementor-244 .elementor-element.elementor-element-7890f6c>.elementor-element-populated {
        margin: 0em 0em 2em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-244 .elementor-element.elementor-element-b39af11 img {
        height: 42px;
    }

    .elementor-244 .elementor-element.elementor-element-8506ca9 {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-35cf9c6 .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-244 .elementor-element.elementor-element-75a13a8 {
        --icon-size: 13px;
    }

    .elementor-244 .elementor-element.elementor-element-aaa948b>.elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-244 .elementor-element.elementor-element-e24d1c3 .elementor-heading-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-a173c88 .elementor-heading-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-f3aa99f .elementor-heading-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-8f608fd .elementor-divider__text {
        font-size: 14px;
    }

    .elementor-244 .elementor-element.elementor-element-cdc5e64 {
        font-size: var(--e-global-typography-69c152f-font-size);
        line-height: var(--e-global-typography-69c152f-line-height);
        letter-spacing: var(--e-global-typography-69c152f-letter-spacing);
        word-spacing: var(--e-global-typography-69c152f-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-0756131 .elementor-heading-title {
        font-size: var(--e-global-typography-112b6c4-font-size);
        line-height: var(--e-global-typography-112b6c4-line-height);
        letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
        word-spacing: var(--e-global-typography-112b6c4-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-244 .elementor-element.elementor-element-4363890 {
        padding: 2.5em 1em 1em 1em;
    }

    .elementor-244 .elementor-element.elementor-element-b39af11 img {
        height: 32px;
    }

    .elementor-244 .elementor-element.elementor-element-8506ca9 {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-35cf9c6 .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-244 .elementor-element.elementor-element-75a13a8 {
        --icon-size: 11px;
    }

    .elementor-244 .elementor-element.elementor-element-ef60f2e img {
        height: 35px;
    }

    .elementor-244 .elementor-element.elementor-element-a5eef57 img {
        height: 35px;
    }

    .elementor-244 .elementor-element.elementor-element-b670c0b>.elementor-element-populated {
        margin: 0em 0em 2em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-244 .elementor-element.elementor-element-e24d1c3 .elementor-heading-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-244 .elementor-element.elementor-element-4335222 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-a78ed09>.elementor-element-populated {
        margin: 0em 0em 2em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-244 .elementor-element.elementor-element-a173c88 .elementor-heading-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-244 .elementor-element.elementor-element-4b2a749 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-f3aa99f .elementor-heading-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-244 .elementor-element.elementor-element-1e9d8f4 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-8f608fd .elementor-divider-separator {
        width: 280px;
    }

    .elementor-244 .elementor-element.elementor-element-8f608fd .elementor-divider__text {
        font-size: 13px;
        line-height: 1.5em;
    }

    .elementor-244 .elementor-element.elementor-element-8f608fd {
        --divider-element-spacing: 0px;
    }

    .elementor-244 .elementor-element.elementor-element-cdc5e64 {
        font-size: var(--e-global-typography-69c152f-font-size);
        line-height: var(--e-global-typography-69c152f-line-height);
        letter-spacing: var(--e-global-typography-69c152f-letter-spacing);
        word-spacing: var(--e-global-typography-69c152f-word-spacing);
    }

    .elementor-244 .elementor-element.elementor-element-0756131 .elementor-heading-title {
        font-size: var(--e-global-typography-112b6c4-font-size);
        line-height: var(--e-global-typography-112b6c4-line-height);
        letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
        word-spacing: var(--e-global-typography-112b6c4-word-spacing);
    }
}

@media(min-width:768px) {
    .elementor-244 .elementor-element.elementor-element-7890f6c {
        width: 30%;
        padding: 2em 2em 0em 3em;
    }

    .elementor-244 .elementor-element.elementor-element-aaa948b {
        width: 70%;
        padding: 2em 2em 0em 2em;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-244 .elementor-element.elementor-element-7890f6c {
        width: 100%;
    }

    .elementor-244 .elementor-element.elementor-element-aaa948b {
        width: 100%;
    }
}

/* Footer Css  */
.elementor-244 .elementor-element.elementor-element-7890f6c {
    background: linear-gradient(180deg, #192f61, #263c75);
}
.elementor-244 .elementor-element.elementor-element-7890f6c p, .elementor-244 .elementor-element.elementor-element-cdc5e64 p {
    color: #fff;
}
.elementor-244 .elementor-element.elementor-element-1e9d8f4 img {
    width: 50px;
    margin-right: 10px;
}
.elementor-244 .elementor-element.elementor-element-cdc5e64 ul li {
    width: 45px;
    height: 45px;
    background: #243970;
    text-align: center;
    border-radius: 10px;
    padding: 9px 0px;
    list-style: none;
    margin-right: 15px;
}

.elementor-244 .elementor-element.elementor-element-cdc5e64 ul {
    display: flex;
    align-items: center;
    padding-left: 0px;
}
.elementor-244 .elementor-element.elementor-element-cdc5e64 .elementor-widget-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elementor-244 .elementor-element.elementor-element-4363890 .elementor-container {
    max-width: 100%;
}
.elementor-element-e24d1c3, .elementor-element-a173c88, .elementor-element-f3aa99f {
    padding-right: 20px;
} 

/* Pop Up on footer  */
.modal-header button {
    font-size: 18px !important;
    margin: 0px 24px 0px 0px !important;
    background-color: #e8b829 !important;
    opacity: 1 !important;
    padding: 18px !important;
}
.modal-header {
    background: #2b4487 !important;
    border-radius: 40px 40px 0px 0px;
    border-bottom: 0px;
    padding: 0px 10px;
}
.modal-content img {
    width: auto !important;
}
.modal-content {
    background-color: #4366b7;
    border-radius: 40px;
}
.modal-body {
    padding: 0px;
}
/* Pop Up on footer  */

/* Platform Css  */
#download-platform-btn {
	background-color: #2b4487;
	padding: 25px 10px 15px 10px;
	border-radius: 40px 40px 0px 0px;
}

#download-platform-btn h5 {
	color: #fff;
	font-weight: 500;
	text-align: center;
}

.elementor-location-footer #download-platform-content {
	padding: 20px 42px;
    height: auto;
}

#down-ptf-icons-1,
#down-ptf-icons-2 {
	width: 75px;
	height: 75px;
	text-align: center;
	background: #fff;
	border-radius: 50%;
	padding: 17px;
	margin-right: 20px;
}

#down-ptf-icons-2 {
	padding: 15px;
}

#trading-pltf-apps button {
	background: #2b4487;
	border-radius: 10px;
}


#trading-pltf-apps {
	display: flex;
	align-items: center;
	/* margin-top: 10px; */
	padding: 20px 0px;
	border-bottom: 1px solid #3856a1;
}

#trading-pltf-apps-1 {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

#trading-pltf-apps p,
#trading-pltf-apps-1 p {
	margin: 0px;
	color: #fff;
}

#trading-pltf-apps h5 {
	margin: 0px 0px 5px 0px;
	color: #fff;
	font-weight: 400;
}

#trading-pltf-apps-1 h5 {
	margin: 0px 0px 5px 0px;
	color: #ffc61c;
	font-weight: 400;
}

#tab-section {
	position: relative;
	/* width: 53%; */
	width: 412px;
	/* z-index: 2; */
	right: 0px;
	/* margin-top: 55px; */
	height: 794px;
	margin-left: -124px;
}

hr {
    opacity: 1;
}
/* Platform Css  */





@media only screen and (max-width: 767px) {
    .elementor-244 .elementor-element.elementor-element-cdc5e64 ul {
        flex-wrap: wrap;
    }
    .elementor-244 .elementor-element.elementor-element-cdc5e64 ul li {
        margin-top: 15px;
    }
    .elementor-244 .elementor-element.elementor-element-4cee27d>.elementor-element-populated {
        margin: 0em 0em 2em 0em;
    }
    .elementor-244 .elementor-element.elementor-element-cdc5e64 .elementor-widget-container {
        flex-direction: column;
    }
    .elementor-244 .elementor-element.elementor-element-7890f6c {
        padding: 2em 2em 0em 2em;
    }
}